# Arithmetic Operations on a Column

In [15]:
import pandas as pd

In [16]:
df = pd.read_csv('fifadata.csv')

In [17]:
df.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

## Addition

In [18]:
df['Add_Age'] = df['Age'] + 5
df['Add_Age']

0        36
1        38
2        31
3        32
4        32
5        32
6        37
7        36
8        37
9        30
10       34
11       33
12       37
13       37
14       32
15       29
16       29
17       32
18       31
19       31
20       34
21       36
22       37
23       35
24       38
25       24
26       31
27       31
28       31
29       32
         ..
18177    23
18178    23
18179    22
18180    27
18181    22
18182    23
18183    49
18184    23
18185    24
18186    25
18187    24
18188    22
18189    23
18190    23
18191    23
18192    23
18193    23
18194    23
18195    23
18196    24
18197    23
18198    23
18199    23
18200    23
18201    23
18202    24
18203    24
18204    21
18205    22
18206    21
Name: Add_Age, Length: 18207, dtype: int64

## Subtraction

In [19]:
df['Sub_Age'] = df['Age'] - 5
df['Sub_Age']

0        26
1        28
2        21
3        22
4        22
5        22
6        27
7        26
8        27
9        20
10       24
11       23
12       27
13       27
14       22
15       19
16       19
17       22
18       21
19       21
20       24
21       26
22       27
23       25
24       28
25       14
26       21
27       21
28       21
29       22
         ..
18177    13
18178    13
18179    12
18180    17
18181    12
18182    13
18183    39
18184    13
18185    14
18186    15
18187    14
18188    12
18189    13
18190    13
18191    13
18192    13
18193    13
18194    13
18195    13
18196    14
18197    13
18198    13
18199    13
18200    13
18201    13
18202    14
18203    14
18204    11
18205    12
18206    11
Name: Sub_Age, Length: 18207, dtype: int64

## Multiplication

In [20]:
df['Mult_Age'] = df['Age'] * 5
df['Mult_Age']

0        155
1        165
2        130
3        135
4        135
5        135
6        160
7        155
8        160
9        125
10       145
11       140
12       160
13       160
14       135
15       120
16       120
17       135
18       130
19       130
20       145
21       155
22       160
23       150
24       165
25        95
26       130
27       130
28       130
29       135
        ...
18177     90
18178     90
18179     85
18180    110
18181     85
18182     90
18183    220
18184     90
18185     95
18186    100
18187     95
18188     85
18189     90
18190     90
18191     90
18192     90
18193     90
18194     90
18195     90
18196     95
18197     90
18198     90
18199     90
18200     90
18201     90
18202     95
18203     95
18204     80
18205     85
18206     80
Name: Mult_Age, Length: 18207, dtype: int64

## Division

In [21]:
df['Div_Age'] = df['Age']/2
df['Div_Age']

0        15.5
1        16.5
2        13.0
3        13.5
4        13.5
5        13.5
6        16.0
7        15.5
8        16.0
9        12.5
10       14.5
11       14.0
12       16.0
13       16.0
14       13.5
15       12.0
16       12.0
17       13.5
18       13.0
19       13.0
20       14.5
21       15.5
22       16.0
23       15.0
24       16.5
25        9.5
26       13.0
27       13.0
28       13.0
29       13.5
         ...
18177     9.0
18178     9.0
18179     8.5
18180    11.0
18181     8.5
18182     9.0
18183    22.0
18184     9.0
18185     9.5
18186    10.0
18187     9.5
18188     8.5
18189     9.0
18190     9.0
18191     9.0
18192     9.0
18193     9.0
18194     9.0
18195     9.0
18196     9.5
18197     9.0
18198     9.0
18199     9.0
18200     9.0
18201     9.0
18202     9.5
18203     9.5
18204     8.0
18205     8.5
18206     8.0
Name: Div_Age, Length: 18207, dtype: float64