# Drop Header and Footer

In [38]:
import pandas as pd

In [39]:
df = pd.read_excel('Energy Indicators.xls')

In [40]:
df

,Unnamed: 0,Unnamed: 1,Environmental Indicators: Energy,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Energy Supply and Renewable Electricity Produc...,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,Last update: December 2015
4,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,Choose a country from the following drop-down ...,NaN,NaN,Andorra
6,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,Country,Energy Supply,Energy Supply per capita,Renewable Electricity Production
8,NaN,NaN,NaN,Petajoules,Gigajoules,%
9,NaN,NaN,Andorra,9,121,88.6957
10,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,website: http://unstats.un.org/unsd/ENVIRONMEN...
12,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,Energy Supply,Energy Supply per capita,Renewable Electricity Production
15,NaN,NaN,NaN,Petajoules,Gigajoules,%
16,NaN,Afghanistan,Afghanistan,321,10,78.6693
17,NaN,Albania,Albania,102,35,100
18,NaN,Algeria,Algeria,1959,51,0.55101
19,NaN,American Samoa,American Samoa,...,...,0.641026
20,NaN,Andorra,Andorra,9,121,88.6957
21,NaN,Angola,Angola,642,27,70.9091
22,NaN,Anguilla,Anguilla,2,136,0
23,NaN,Antigua and Barbuda,Antigua and Barbuda,8,84,0
24,NaN,Argentina,Argentina,3378,79,24.0645
25,NaN,Armenia,Armenia,143,48,28.2361
26,NaN,Aruba,Aruba,12,120,14.8707
27,NaN,Australia,Australia1,5386,231,11.8108
28,NaN,Austria,Austria,1391,164,72.4528
29,NaN,Azerbaijan,Azerbaijan,567,60,6.38434
...,...,...,...,...,...,...
251,NaN,2,Data exclude Hong Kong and Macao Special Admin...,NaN,NaN,NaN
252,NaN,3,Data on kerosene-type jet fuel include aviatio...,NaN,NaN,NaN
253,NaN,4,"For confidentiality reasons, data on coal and ...",NaN,NaN,NaN
254,NaN,5,Data exclude Greenland and the Danish Faroes.,NaN,NaN,NaN
255,NaN,6,"Data include Monaco, and exclude the following...",NaN,NaN,NaN
256,NaN,7,Data for kerosene-type jet fuel include other ...,NaN,NaN,NaN
257,NaN,8,Data include Timor-Leste until 2001.,NaN,NaN,NaN
258,NaN,9,Data include San Marino and the Holy See.,NaN,NaN,NaN
259,NaN,10,Data include Okinawa.,NaN,NaN,NaN
260,NaN,11,The data for crude oil production include 50 p...,NaN,NaN,NaN
261,NaN,12,Data exclude Suriname and the Netherlands Anti...,NaN,NaN,NaN
262,NaN,13,Data include the Azores and Madeira.,NaN,NaN,NaN
263,NaN,14,Data for crude oil production include 50 per c...,NaN,NaN,NaN
264,NaN,15,Data exclude Kosovo from 2000 onwards.,NaN,NaN,NaN
265,NaN,16,Data include the Canary Islands.,NaN,NaN,NaN
266,NaN,17,Data include Liechtenstein for oil statistics.,NaN,NaN,NaN
267,NaN,18,"For confidentiality reasons, data on the follo...",NaN,NaN,NaN
268,NaN,19,"Shipments of coal and oil to Jersey, Guernsey ...",NaN,NaN,NaN
269,NaN,20,Includes the 50 states and the District of Col...,NaN,NaN,NaN
270,NaN,NaN,NaN,NaN,NaN,NaN
271,NaN,Definitions & Technical notes:,NaN,NaN,NaN,NaN
272,NaN,The data on energy supply and renewable electr...,NaN,NaN,NaN,NaN
273,NaN,Energy supply is defined as energy production ...,NaN,NaN,NaN,NaN
274,NaN,Electricity production refers to gross product...,NaN,NaN,NaN,NaN
275,NaN,Renewable electricity production (%) refers to...,NaN,NaN,NaN,NaN
276,NaN,… denotes no data available.,NaN,NaN,NaN,NaN
277,NaN,NaN,NaN,NaN,NaN,NaN
278,NaN,Data Quality:,NaN,NaN,NaN,NaN
279,NaN,The data are compiled primarily from the annua...,NaN,NaN,NaN,NaN
280,NaN,"For more information, visit http://unstats.un....",NaN,NaN,NaN,NaN

## Remove Header

In [41]:
df = df.iloc[16:]
df.head()

,Unnamed: 0,Unnamed: 1,Environmental Indicators: Energy,Unnamed: 3,Unnamed: 4,Unnamed: 5
16,NaN,Afghanistan,Afghanistan,321,10,78.6693
17,NaN,Albania,Albania,102,35,100
18,NaN,Algeria,Algeria,1959,51,0.55101
19,NaN,American Samoa,American Samoa,...,...,0.641026
20,NaN,Andorra,Andorra,9,121,88.6957

## Remove Footer

In [42]:
df.tail(50)

,Unnamed: 0,Unnamed: 1,Environmental Indicators: Energy,Unnamed: 3,Unnamed: 4,Unnamed: 5
231,NaN,United Republic of Tanzania,United Republic of Tanzania,994,20,31.0728
232,NaN,United States of America,United States of America20,90838,286,11.571
233,NaN,United States Virgin Islands,United States Virgin Islands,...,...,0
234,NaN,Uruguay,Uruguay,196,58,71.605
235,NaN,Uzbekistan,Uzbekistan,1798,62,21.3284
236,NaN,Vanuatu,Vanuatu,3,10,14.7059
237,NaN,Venezuela (Bolivarian Republic of),Venezuela (Bolivarian Republic of),2871,95,67.8345
238,NaN,Viet Nam,Viet Nam,2554,28,45.3215
239,NaN,Wallis and Futuna Islands,Wallis and Futuna Islands,0,26,0
240,NaN,Yemen,Yemen,344,13,0
241,NaN,Zambia,Zambia,400,26,99.7147
242,NaN,Zimbabwe,Zimbabwe,480,32,52.5361
243,NaN,NaN,NaN,NaN,NaN,NaN
244,NaN,NaN,NaN,NaN,NaN,NaN
245,NaN,Sources:,NaN,NaN,NaN,NaN
246,NaN,UNSD Energy Statistics Yearbook.,NaN,NaN,NaN,NaN
247,NaN,See: http://unstats.un.org/unsd/energy/yearboo...,NaN,NaN,NaN,NaN
248,NaN,NaN,NaN,NaN,NaN,NaN
249,NaN,Footnotes:,NaN,NaN,NaN,NaN
250,NaN,1,Excludes the overseas territories.,NaN,NaN,NaN
251,NaN,2,Data exclude Hong Kong and Macao Special Admin...,NaN,NaN,NaN
252,NaN,3,Data on kerosene-type jet fuel include aviatio...,NaN,NaN,NaN
253,NaN,4,"For confidentiality reasons, data on coal and ...",NaN,NaN,NaN
254,NaN,5,Data exclude Greenland and the Danish Faroes.,NaN,NaN,NaN
255,NaN,6,"Data include Monaco, and exclude the following...",NaN,NaN,NaN
256,NaN,7,Data for kerosene-type jet fuel include other ...,NaN,NaN,NaN
257,NaN,8,Data include Timor-Leste until 2001.,NaN,NaN,NaN
258,NaN,9,Data include San Marino and the Holy See.,NaN,NaN,NaN
259,NaN,10,Data include Okinawa.,NaN,NaN,NaN
260,NaN,11,The data for crude oil production include 50 p...,NaN,NaN,NaN
261,NaN,12,Data exclude Suriname and the Netherlands Anti...,NaN,NaN,NaN
262,NaN,13,Data include the Azores and Madeira.,NaN,NaN,NaN
263,NaN,14,Data for crude oil production include 50 per c...,NaN,NaN,NaN
264,NaN,15,Data exclude Kosovo from 2000 onwards.,NaN,NaN,NaN
265,NaN,16,Data include the Canary Islands.,NaN,NaN,NaN
266,NaN,17,Data include Liechtenstein for oil statistics.,NaN,NaN,NaN
267,NaN,18,"For confidentiality reasons, data on the follo...",NaN,NaN,NaN
268,NaN,19,"Shipments of coal and oil to Jersey, Guernsey ...",NaN,NaN,NaN
269,NaN,20,Includes the 50 states and the District of Col...,NaN,NaN,NaN
270,NaN,NaN,NaN,NaN,NaN,NaN
271,NaN,Definitions & Technical notes:,NaN,NaN,NaN,NaN
272,NaN,The data on energy supply and renewable electr...,NaN,NaN,NaN,NaN
273,NaN,Energy supply is defined as energy production ...,NaN,NaN,NaN,NaN
274,NaN,Electricity production refers to gross product...,NaN,NaN,NaN,NaN
275,NaN,Renewable electricity production (%) refers to...,NaN,NaN,NaN,NaN
276,NaN,… denotes no data available.,NaN,NaN,NaN,NaN
277,NaN,NaN,NaN,NaN,NaN,NaN
278,NaN,Data Quality:,NaN,NaN,NaN,NaN
279,NaN,The data are compiled primarily from the annua...,NaN,NaN,NaN,NaN
280,NaN,"For more information, visit http://unstats.un....",NaN,NaN,NaN,NaN

In [43]:
df = df.iloc[:227]
df.tail()

,Unnamed: 0,Unnamed: 1,Environmental Indicators: Energy,Unnamed: 3,Unnamed: 4,Unnamed: 5
238,NaN,Viet Nam,Viet Nam,2554,28,45.3215
239,NaN,Wallis and Futuna Islands,Wallis and Futuna Islands,0,26,0
240,NaN,Yemen,Yemen,344,13,0
241,NaN,Zambia,Zambia,400,26,99.7147
242,NaN,Zimbabwe,Zimbabwe,480,32,52.5361